import $$$ from './index.vue'
import { StoryTemplate } from '@/type/story.type'

export default {
  title: '$$$',
  component: $$$,
}

interface Args {}

export const Common: StoryTemplate<Args> = (args: Args) => ({
  components: { $$$ },
  setup() {
    return { args }
  },
  template: '<$$$ v-bind="args">$$$</$$$>',
})

Common.args = {}
